// Header index
.desktop-header {
  display: block;
}

@media (max-width: 767px) {
  .desktop-header {
    display: none;
  }
}

.mobile-header {
  display: block;
}

@media (min-width: 767px) {
  .mobile-header {
    display: none;
  }
}

.hiding-image img {
  display: block;
}

@media (max-width: 767px) {
  .hiding-image img {
    display: none;
  }
}

.hiding-text p {
  display: block;
}

@media (max-width: 767px) {
  .hiding-text p {
    display: none;
  }
}

.hiding-button a {
  display: none;
}

@media (max-width: 767px) {
  .hiding-button a {
    display: block;
  }
}

.hiding-button-mobile {
  display: block;
}

@media (max-width: 767px) {
  .hiding-button-mobile {
    display: none;
  }
}
