// Header index
.desktop-header {
  display: block;
}

@media (max-width: 767px) {
  .desktop-header {
    display: none;
  }
}

.mobile-header {
  display: block;
}

@media (min-width: 767px) {
  .mobile-header {
    display: none;
  }
}

.hiding-image img {
  display: block;
}

@media (max-width: 767px) {
  .hiding-image img {
    display: none;
  }
}

.hiding-text p {
  display: block;
}

@media (max-width: 767px) {
  .hiding-text p {
    display: none;
  }
}

.hiding-button a {
  display: none;
}

@media (max-width: 767px) {
  .hiding-button a {
    display: block;
  }
}

.hiding-button-mobile {
  display: block;
}

@media (max-width: 767px) {
  .hiding-button-mobile {
    display: none;
  }
}

.hiding-content {
  display: block;
}

@media (min-width: 992px) {
  .hiding-content {
    display: none;
  }
}

.show-image img {
  display: block;
}

@media (max-width: 992px) {
  .show-image img {
    display: none;
  }
}

.introduction {
  display: block;
}

@media (max-width: 767px) {
  .introduction {
    display: none;
  }
}

.introduction-mobile {
  display: block;
}

@media (min-width: 767px) {
  .introduction-mobile {
    display: none;
  }
}

.actuality {
  display: block;
}

@media (max-width: 767px) {
  .actuality {
    display: none;
  }
}

.actuality-mobile {
  display: block;
}

@media (min-width: 767px) {
  .actuality-mobile {
    display: none;
  }
}
