.actuality-mobile {
  margin-bottom: 30px;
}

.actuality-mobile h1 {
  color: #c4007a;
  text-align: center;

  font-size: 31px;
  font-style: normal;
  font-weight: 700;
  margin: 32px 60px 0 60px;
}

.actuality-mobile h2 {
  font-size: 22px;
  font-style: normal;
  font-weight: 700;

  margin-left: 11px;
}

.actuality-mobile p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  margin-left: 11px;
  margin-right: 50px;
}

.actuality-mobile img {
  margin: 30px 0;
}

.actuality {
  padding: 30px 18px 70px 18px;
}

.actuality h1 {
  color: #c4007a;

  margin-bottom: 45px;
}

.actuality h2 {
  font-size: 22px;
  font-style: normal;
  font-weight: 700;

  margin-bottom: 15px;
}

.actuality img {
  margin-bottom: 20px;
}
