.section-blogs {
  color: white;
  background: #fb8e00;
}

.blogs h1 {
  font-size: 31px;
  font-style: normal;
  font-weight: 700;

  margin: 28px 14px;
}

.blogs h2 {
  font-size: 25px;
  font-style: normal;
  font-weight: 700;

  margin: 0 55px 20px 15px;
}

.article-1-blogs h3 {
  font-size: 16px;
  font-style: normal;

  margin-left: 15px;
  margin-top: 20px;
}

.article-1-blogs p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  margin-left: 15px;
}

.article-2-blogs h3 {
  font-size: 19px;
  font-style: normal;
  font-weight: 700;

  margin-left: 15px;
  margin-right: 100px;
}

.article-2-blogs p {
  font-size: 13px;
  font-style: normal;
  font-weight: 400;

  margin: 20px 15px 0 15px;
}

.button-plus-details {
  height: 26px;
}

.button-plus-details a {
  text-decoration: none;
  border: 1px black solid;
}
