.section-switzerland {
  color: white;
  background: #e41e13;
}

.switzerland h1 {
  font-size: 31px;
  font-style: normal;
  font-weight: 700;

  margin: 28px 14px;
}

.switzerland h2 {
  font-size: 25px;
  font-style: normal;
  font-weight: 700;

  margin: 0 55px 20px 15px;
}

@media (min-width: 767px) {
  .switzerland h2 {
    font-size: 37px;
    font-style: normal;
    font-weight: 700;
  }
}

.article-1-switzerland h3 {
  font-size: 16px;
  font-style: normal;

  margin-left: 15px;
  margin-top: 20px;
}

@media (min-width: 767px) {
  .article-1-switzerland h3 {
    font-size: 20px;
    font-style: normal;

    margin-left: 15px;
    margin-top: 20px;
  }
}

.article-1-switzerland p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  margin-left: 15px;
}

.article-2-switzerland h3 {
  font-size: 19px;
  font-style: normal;
  font-weight: 700;

  margin-left: 15px;
  margin-right: 100px;
}

.article-2-switzerland p {
  font-size: 13px;
  font-style: normal;
  font-weight: 400;

  margin: 20px 15px 0 15px;
}

.button-plus-details {
  height: 26px;
}

.button-plus-details a {
  text-decoration: none;
  border: 1px black solid;
}
