.top-article {
  margin: 55px 19px 80px 19px;
}

.top-article h1 {
  font-size: 31px;
  font-style: normal;
  font-weight: 700;

  margin-bottom: 46px;
}

.numbers h1 {
  color: #f40f97;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
}

.text-title p {
  font-size: 19px;
  font-style: normal;
  font-weight: 700;

  margin-right: 20px;
}
